[submodule "openzeppelin-contracts"]
	path = openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "web3js-eea"]
	path = web3js-eea
	url = https://github.com/PegaSysEng/web3js-eea.git
[submodule "hyperledger-besu-ethers"]
	path = hyperledger-besu-ethers
	url = https://github.com/PegaSysEng/hyperledger-besu-ethers.git
[submodule "ethsigner"]
	path = ethsigner
	url = https://github.com/PegaSysEng/ethsigner.git
[submodule "HyperledgerBesuGenerators"]
	path = HyperledgerBesuGenerators
	url = https://github.com/ericglau/HyperledgerBesuGenerators.git
[submodule "create-eth-app"]
	path = create-eth-app
	url = https://github.com/PaulRBerg/create-eth-app.git
[submodule "Minimal-Solidity-Environment"]
	path = Minimal-Solidity-Environment
	url = https://github.com/Luiserebii/Minimal-Solidity-Environment.git
